@import url("header.css");
@import url("footer.css");

/*ROCKWELL - TITLE FONT=====================================================*/
@font-face {font-family:Rockwell; src:url('../../assets/fonts/ROCK.eot?#iefix') format('embedded-opentype'),/*IE*/
                                  /*src:local('☺'),*/
                                  url('../../assets/fonts/ROCK.TTF') format('truetype'),
                                  url('../../assets/fonts/ROCK.otf') format('opentype');}
@font-face {font-family:Rockwell; src:url('../../assets/fonts/ROCKB.eot?#iefix') format('embedded-opentype'), /*IE*/
                                  /*src:local('☺'),*/
                                  url('../../assets/fonts/ROCKB.TTF') format('truetype'),
                                  url('../../assets/fonts/ROCKB.otf') format('opentype');
                                  font-weight: bold;}
/*GILL SANS - BODY FONT=====================================================*/
@font-face {font-family:Gill Sans; src:url('../../assets/fonts/GIL.eot?#iefix') format('embedded-opentype'), /*IE*/
                                   /*src:local('☺'),*/
                                   url('../../assets/fonts/GIL.TTF') format('truetype'),
                                   url('../../assets/fonts/GIL.otf') format('opentype');}
@font-face {font-family:Gill Sans; src:url('../../assets/fonts/GILB.eot?#iefix') format('embedded-opentype'), /*IE*/
                                   /*src:local('☺'),*/
                                   url('../../assets/fonts/GILB.TTF') format('truetype'),
                                   url('../../assets/fonts/GILB.otf') format('opentype');
                                   font-weight:bold;}
@font-face {font-family:Gill Sans; src:url('../../assets/fonts/GILLight.eot?#iefix') format('embedded-opentype'), /*IE*/
                                   /*src:local('☺'),*/
                                   url('../../assets/fonts/GILLight.TTF') format('truetype'),
                                   url('../../assets/fonts/GILLight.otf') format('opentype');
                                   font-weight:lighter;}
@font-face {font-family:Gill Sans; src:url('../../assets/fonts/GILI.eot?#iefix') format('embedded-opentype'), /*IE*/
                                   /*src:local('☺'),*/
                                   url('../../assets/fonts/GILI.TTF') format('truetype'),
                                   url('../../assets/fonts/GILI.otf') format('opentype');
                                   font-style:italic;}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing:    content-box;
    box-sizing:         content-box;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body, div, header, section, footer, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a,
span {
    margin: 0;
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, h5,
h1 a, h2 a, h3 a, h4 a, h5 a {
    font-family: Rockwell, courier, serif;
    font-weight: normal;
    color: #2a84a1;
}

h1 {
    color: #465a7f;
}

h6, p, a, li {
    font-family: Gill Sans, Helvetica, Arial, sans-serif;
    color: #444444;
}

a:link,
a:visited,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

img, img a {
    margin: 0;
    border: 0;
    padding: 0;
}

body .background {
    position: absolute;
    width: 100%;
}

div.page {
    position: relative;
    width: 100%;
    padding: 50px 20px;
    max-width: 1200px; /* make this adaptive later */
    min-width: 950px;
    margin: 0 auto;
}

div.content {
    position: relative;
    margin: 40px;
    background-color: #fefefc;
    overflow: hidden;
}

div.content p {
    font-weight: lighter;
}

ul.menubar {
    padding-bottom: 50px;
}

ul.menubar li {
    display: inline;
}
ul.menubar a{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 4px 4px 0 0;
}
ul.menubar a:hover {
    color: brown;
    background-color: orange;
    text-decoration: none;
}
