<header>
    <ul class="menubar">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li>
            <ul>
                <li></li>
            </ul>
        </li>
    </ul>
</header>
