<div class="page">
    <? include_once('template' . DIRECTORY_SEPARATOR . 'snippets' . DIRECTORY_SEPARATOR . 'header.phtml'); ?>

    <!-- Content Here! -->
    <h1>You've logged in!</h1>

    <p>Your user level is <?php echo $user->getUserLevel(); ?></p>

    <? include_once('template' . DIRECTORY_SEPARATOR . 'snippets' . DIRECTORY_SEPARATOR . 'footer.phtml'); ?>
</div>
