<div class="page">
    <? include_once('template' . DIRECTORY_SEPARATOR . 'snippets' . DIRECTORY_SEPARATOR . 'header.phtml'); ?>

    <!-- Content Here! -->
    <h1>Please Register</h1>

    <?php echo $message; ?>

    <form method="post" action="">
        <label for="username">username</label>
        <input type="text" name="username" />
        <br />
        <label for="password">password</label>
        <input type="password" name="password" />
        <br />
        <label for="password-repeat">repeat password</label>
        <input type="password" name="password-repeat" />
        <br />
        <label for="email">email</label>
        <input type="email" name="email" />
        <input type="submit" value="submit" />
    </form>

    <? include_once('template' . DIRECTORY_SEPARATOR . 'snippets' . DIRECTORY_SEPARATOR . 'footer.phtml'); ?>
</div>
